@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hornbill";
  src: url("/fonts/Hornbill-Black.otf");
}

body {
  @apply bg-brand-light font-sora;
}

@keyframes bounce-horizontal {
    0%, 100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce-horizontal {
    animation: bounce-horizontal 1s infinite;
}
